.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  min-height: 100vh;
}

.canvas {
  position: static;
  z-index: 1;
}

.dice {
  flex: 1;
}
