.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20%;
  height: 8%;
  margin-top: 3%;
  background-color: rgb(0 0 0 / 26.2%);
  border-radius: 10px;
}

.playCountRight {
  width: 4%;
  height: 20%;
  margin: 8%;
  background-color: rgb(255 255 255);
  border-radius: 5px;
}
